@{
    ViewBag.Title = "Contact " + ViewBag.SiteName;
}

<h2>Contact</h2>

<p>
    @ViewBag.SiteName does not yet have a fancy contact form you can fill out.
</p>

<p>
    Until it does, you can use the email address <a href="mailto:@ViewBag.EmailAddress">@ViewBag.EmailAddress</a>
</p>

<p>
    @ViewBag.SiteName looks forward to hearing from you.
</p>
