@{
    ViewBag.Title = "Page Not Found";
}

<h2>@ViewBag.SiteName could not find what you're looking for.</h2>

<p>
    @ViewBag.SiteName suggests you take a look <a href="/">the home page</a>.
</p>
