@*
 * Copyright 2011 Sean McCleary
 * 
 * This file is part of capt.
 *
 * capt is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 * 
 * capt is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public License
 * along with capt.  If not, see <http://www.gnu.org/licenses/>.
 *@
@{
    ViewBag.Title = "Log On";
}

<h2>In through whom would you like to log?</h2>

@Html.Partial("~/Areas/ExternalAuthentication/Views/Account/LogOn.cshtml")

<p>
    By logging in or registering, you agree to @ViewBag.SiteName's @Html.ActionLink("terms and conditions", "Conditions", "Info")
    and @Html.ActionLink("privacy policy", "Privacy", "Info").
</p>